body {
    background-color: #000000;
    color:#f5f2cf;
  }
  
  h1 {
    font-family: 'Teko', sans-serif;
     margin-bottom:0px;
  }
  
  h2 {
    font-family: 'Teko', sans-serif;
    margin-bottom:0px;
    margin-top:0px;
  }
  
  h3 {
    font-family: 'Teko', sans-serif;
    margin-bottom:0px;
  }
  
  #logo {
    width: 100vw;
    height: auto;
    max-width:100vw;
  }
  
  #footerimg {
    width: 100%;
    height: auto;
    max-width:700px;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    margin-top:0px;
  }
  
  .member_image {
    width: 100%;
    height: auto;
    max-width:150px;
    border-radius: 10px;
  }
  
  #image {
    width: 100%;
    height: auto;
    max-width:100%;
    display:block;
  }
  
  
  .container_left_image {
   display: grid;
   align-items: center; 
   grid-template-columns: 1fr 5fr;
   column-gap: 5px;
    margin-bottom:30px;
  }
  
  .container_right_image {
   display: grid;
   align-items: center; 
   grid-template-columns: 5fr 1fr;
   column-gap: 5px;
   margin-bottom:30px;
  }
  
  
  .sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 40px;
  }
  
  .sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
  }
  
  .body-text {
  margin-right: 350px;
  font-size: 18px;
  }
  
  #img-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
